<h2 class="posttitle">OpenMP - Static or Dynamic Scheduling?</h2>
<h5>10 May 2020</h5>
<img class="img" src="image/OpenMP_logo.png" />
<p>
    <a href="https://www.openmp.org/">OpenMP</a>, or OMP, is an API for
    parallelizing your C, C++, and Fortran code. It works via compiler pragmas,
    meaning that it will only work if you have a compiler that supports it.
    Thankfully, most modern compilers support OMP, including
</p>
<ul>
    <li>GCC</li>
    <li>Clang</li>
    <li>MSVC</li>
    <li>ICC (Intel C Compiler)</li>
</ul>

<p>
    OpenMP offers many tunables, which can greatly change the performance
    characteristics. One of which, is the <a href="https://software.intel.com/content/www/us/en/develop/articles/openmp-loop-scheduling.html">scheduler<a>.
</p>

<p>
    Two of the most common scheduling types to use are
    <ul>
        <li>static</li>
        <li>dynamic</li>
    </ul>
</p>

<div class="codeblock">
<pre>
<font color="#AF5F00">  1 </font><font color="#75507B">#include </font><font color="#CC0000">&lt;stdio.h&gt;</font>
<font color="#AF5F00">  2 </font><font color="#75507B">#include </font><font color="#CC0000">&lt;stdbool.h&gt;</font>
<font color="#AF5F00">  3 </font><font color="#75507B">#include </font><font color="#CC0000">&lt;math.h&gt;</font>
<font color="#AF5F00">  4 </font>
<font color="#AF5F00">  5 </font><font color="#4E9A06">bool</font> is_prime(<font color="#4E9A06">unsigned</font> <font color="#4E9A06">long</font> n) {
<font color="#AF5F00">  6 </font>    <font color="#AF5F00">if</font> (n &lt; <font color="#CC0000">2</font>) {
<font color="#AF5F00">  7 </font>        <font color="#AF5F00">return</font> <font color="#CC0000">false</font>;
<font color="#AF5F00">  8 </font>    } <font color="#AF5F00">else</font> {
<font color="#AF5F00">  9 </font>        <font color="#4E9A06">unsigned</font> <font color="#4E9A06">long</font> max = sqrt(n) + <font color="#CC0000">1</font>;
<font color="#AF5F00"> 10 </font>        <font color="#4E9A06">unsigned</font> <font color="#4E9A06">long</font> i;
<font color="#AF5F00"> 11 </font>        <font color="#AF5F00">for</font> (i = <font color="#CC0000">2</font>; i &lt; max; i++) {
<font color="#AF5F00"> 12 </font>            <font color="#AF5F00">if</font> (n % i == <font color="#CC0000">0</font>) {
<font color="#AF5F00"> 13 </font>                <font color="#AF5F00">return</font> <font color="#CC0000">false</font>;
<font color="#AF5F00"> 14 </font>            }
<font color="#AF5F00"> 15 </font>        }
<font color="#AF5F00"> 16 </font>        <font color="#AF5F00">return</font> <font color="#CC0000">true</font>;
<font color="#AF5F00"> 17 </font>    }
<font color="#AF5F00"> 18 </font>}
<font color="#AF5F00"> 19 </font>
<font color="#AF5F00"> 20 </font><font color="#4E9A06">int</font> main(<font color="#4E9A06">void</font>) {
<font color="#AF5F00"> 21 </font>    <font color="#4E9A06">unsigned</font> <font color="#4E9A06">long</font> start = <font color="#CC0000">9223372036854775808UL</font>;
<font color="#AF5F00"> 22 </font>    <font color="#4E9A06">unsigned</font> <font color="#4E9A06">long</font> end = start + <font color="#CC0000">100</font>;
<font color="#AF5F00"> 23 </font>    <font color="#4E9A06">unsigned</font> <font color="#4E9A06">long</font> i;
<font color="#AF5F00"> 24 </font>
<font color="#AF5F00"> 25 </font>    <font color="#AF5F00">for</font> (i = start; i &lt; end; i++) {
<font color="#AF5F00"> 26 </font>        printf(<font color="#CC0000">&quot;testing: </font><font color="#75507B">%lu\n</font><font color="#CC0000">&quot;</font>, i);
<font color="#AF5F00"> 27 </font>        <font color="#AF5F00">if</font> (is_prime(i)) {
<font color="#AF5F00"> 28 </font>            printf(<font color="#CC0000">&quot;</font><font color="#75507B">%lu</font><font color="#CC0000"> is prime</font><font color="#75507B">\n</font><font color="#CC0000">&quot;</font>, i);
<font color="#AF5F00"> 29 </font>        }
<font color="#AF5F00"> 30 </font>    }
<font color="#AF5F00"> 31 </font>    <font color="#AF5F00">return</font> <font color="#CC0000">0</font>;
<font color="#AF5F00"> 32 </font>}
</pre>
</div>

<div class="codeblock">
clang -o static static.c -Wall -Wextra -Wpedantic -O2 -std=c89 -lm<br>
time ./static<br>
</div>