<h2 class="posttitle">Let's build a Lisp interpreter in Rust!</h2>
<h5>11 May 2020</h5>
<img class="img" src="image/sin-small.svg" />

<p>
    I'm a <strong>BIG</strong> advocate of
    <a href="https://www.rust-lang.org/">Rust</a>. I'm sure you are tired of
    hearing all the soapbox speeches, so I'll just move on to the task at
    hand...
</p>

<h4>
    Let's build a Lisp interpreter!
</h4>

<p>
    First, we need to define the basics. What is an interpreter?
</p>

<p class="quote">
    An interpreter is a program that reads text, then executes that text as
    another program.
</p>

<p>
    Interpreters are closely related to compilers. A compiler is a program that
    goes a step further. They translate the text from one programming language
    into another language. Commonly, compilers translate the text of a high
    level language, such as Rust, into the machine code that a computer can
    execute. Compilers can have different targets other than machine code. Java,
    for example, translates Java code into code that a virtual machine called
    the JVM can execute. TypeScript utilizes a compiler that translates
    TypeScript code into JavaScript, which is then translated into byte code for
    your browsers JavaScript virtual machine (V8 for Chrome, or SpiderMonkey for
    Firefox).
</p>

<p>
    Interpreters and compilers share several things in common. If you build an
    interpreter, you are about half way to having a compiler. Compilers are
    implemented in two major parts, commonly referred to as the frontend and
    backend. The frontend is responsible for dealing with text, while the
    backend is responsible for generating the output code. Each of these parts
    are composed of smaller parts, which commonly looks something like this.
</p>

<p>
    <div class="indent">Front End</div>
    <ul><ul><ul>
        <li>Lexer</li>
        <li>Parser</li>
    </ul></ul></ul>

    <div class="indent">Back End</div>
    <ul><ul><ul>
        <li>Optimization</li>
        <li>Code Generation</li>
    </ul></ul></ul>
</p>