<h2 class="posttitle">
    A tale of two servers, or why I shudder at the mention of race conditions
</h2>
<h5>14 May 2020</h5>
<img class="img" src="image/o-FRANZ-KAFKA-facebook.jpg" alt="Photograph of Franz Kafka, author of Der Prozeß (The Trial)"/>

<p>
    There are a few phrases that can make the hair on any developer's neck stand
    straight up.
</p>

<p>
    <ul>
        <li>What do you mean backups?</li>
        <li>I don't need source control, the code is all on my laptop!</li>
        <li>Did I release the wrong build into production?</li>
    </ul>
</p>

<p>
    While I have a story for each of those, today, I'm reflecting on the 
    scariest of all. The silent killer. The one who never shows up in testing.
    The one who makes your debugger utterly useless. That one bug that won't
    cause problems for a month, then one day... out of the blue... WHAM!
    <strong><i>Race Condition!</i></strong>
</p>

<p>
    I was writing some code, when one of my colleagues who is downstream of one
    of the legacy applications I maintain approached my cubicle.
</p>

<p class="quote">
    Hey Kyle, P said, We are having an issue submitting our development
    jobs to your system. This has been happening for the past month, but 
    since it was only dev jobs, we didn't want to bother you with it. But 
    it has been really annoying that half of our jobs just get dropped
    and we are having a hard time working around this issue.
</p>

<p>
    I felt bad that a system I was responsible for was causing P's team so much
    trouble. Had I known about the issue sooner, I would have jumped right
    on it. But this is strange, why are only half of the dev jobs being rejected?
    Could it be only certain job types that are getting rejected? Is the server
    getting overloaded at different times to cause it to miss requests?
</p>

<div class="foot-notes">
    To keep my coworkers anonymous, I'm taking the Franz Kafka (see picture at
    the top) approach, and referring to everyone by their first initial. I
    would gladly take the name of
    <strong><a href="https://en.wikipedia.org/wiki/The_Trial">K</a></strong>
    myself, had I not already blown my identity on this site.
</div>